/* .lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(13, 49, 34);
  font-family: "Lexend", sans-serif;
}

header h1 {
  font-size: 3rem;
}

header {
  padding: 30px;
  text-align: center;
  color: beige;
}

.smallHeader {
  font-size: 2rem;
  font-style: italic;
  color: #68d07b;
}

/* Main content */

main {
  background-color: beige;
  padding: 25px;
  
  margin: 0 20px;
}

main h1 {
  font-size: 2rem;
  color: rgb(13, 49, 34);
  text-align: center;
}



/* Desktop */
@media (min-width: 1200px) {
  main {
    max-width: 600px;
    margin: auto;
  }
  
}

@media (min-width: 600px) {
  main {
    max-width: 600px;
    margin: auto;
  }

  

}