/* .lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(13, 49, 34);
  font-family: "Lexend", sans-serif;
}

header h1 {
  font-size: 3rem;
}


header {
  padding: 30px;
  text-align: center;
  color: beige;
  
}
header span {
  color:#68d07b;
}
.smallHeader {
  font-size: 2rem;
  font-weight: 800;
  margin-right: -10px;
  color: #68d07b;
}

header .smallHeader2 {
  font-size: 3rem;
}

.smallHeader2 {
  font-size: 2rem;
  margin-right: -10px;
  color: #e14a4a;
}

/* Main content */

.hidden {
  display: none;
}

main {
  
  padding: 16px;
  
  margin: 0 20px;
}

h2 {
  color:rgb(13, 49, 34);
}

main h1 {
  font-size: 2rem;
  color: rgb(13, 49, 34);
  text-align: center;
}

.budgetFormWrapper, .totalBalanceWrapper {
  background-color: beige;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 35px;
}

.incomeOrExpenseRadioBtns {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 24px 0;
}

button {
  background-color: rgb(13, 49, 34);
  border: none;
  padding: 6px;
  color: beige;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  border-radius: 4px;
}

button:hover {
  background-color: #68d07b;
  color: rgb(13, 49, 34);
  
}

input {
  margin: 0 5px;
  padding: 2px;
  font-family: "Lexend", sans-serif;
  color: rgb(13, 49, 34);
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: white;
  cursor: pointer;
  width: 100%;
}

input:focus {
  
  outline: none;
  border: 2px #68d07b solid;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(13, 49, 34);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: rgb(13, 49, 34);
  background-color: rgb(13, 49, 34);
  box-shadow: inset 0 0 0 2px beige;
}

input[type="radio"]:hover {
  border-color: #68d07b;
  box-shadow: inset 0 0 0 2px beige;
  background-color: #68d07b;
}

select {
  font-family: "Lexend", sans-serif;
  font-weight: normal;
  padding: 2px;
  color: rgb(13, 49, 34);
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: white;
  cursor: pointer;
  width: 100%;
}

select:focus {
  outline: none;
  border: 2px #68d07b solid;
  color: rgb(13, 49, 34);
}

#incomeForm div, #expenseForm div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  margin: 15px 0;
  margin-inline: 30px;
}

#income h1, #expense h1 {
  font-size: 1.5rem;
  text-align: left;
  margin: 0 30px;
}



#addExpenseBtn, #addIncomeBtn {
  display: block;
  margin: 20px auto 0 auto;
  padding: 8px;
  width: 120px;
  margin-top: 20px;
}

/* 
Summeringslista
*/

.balanceSummary h2 {
  text-align: center;
  margin: 20px;
}

.positive {
  color: rgb(19, 113, 52);
}
.negative {
  color: #e14a4a;
}

.transactionItem {
  padding: 0 30px;
  color:rgb(13, 49, 34);
}

.transactionCategory {
  font-weight: 600;
  color: black;
}

.transactionDescription {
  color: black;
  margin-inline: 10px;
  font-size: 0.9rem;
  opacity: 80%;
}

.transactionAmount {
  margin-bottom: 15px;
  margin-top: 5px;

}

.transactionInfo {
  display: flex;
  justify-content: space-between;
}

.transactionDate {
  color: black;
  opacity: 60%;
  font-weight: 300;
  font-size: 0.9rem;
}

.income-item {
  color: rgb(19, 113, 52);
}

.expense-item {
  color: #e14a4a;
}

.deleteBtn {
  padding: 2px;
  width: 25px;
  height: 100%;
  margin-inline: 5px;
   
}

/* Desktop */
@media (min-width: 1200px) {
  main {
    max-width: 600px;
    margin: auto;
  }
  
}

@media (min-width: 600px) {
  main {
    max-width: 600px;
    margin: auto;
  }

  

}